/* ===== Layout ===== */
$site-width: 1200px;
$gutter: 1em;

/* ===== Typography ===== */
$font-primary: sans-serif;

/* ===== Colors ===== */
$color-primary: #000; /* TODO: Replace with color palette */
$color-secondary: #fff; /* TODO: Replace with color palette */
$color-black: hsl(0deg,0%,8%);
$color-dark-grey: hsl(0deg,0%,20%);
$color-grey: hsl(0deg,0%,50%);
$color-light-grey: hsl(0deg,0%,80%);
$color-white: hsl(0deg,0%,92%);